/** Variables */
:root {
    --sp-neutral-dark: #201f1e;
    --sp-neutral-light: #edebe9;
    --news-delay: -10%;
}

.app-brand {
    fill: var(--sp-neutral-dark);
}

/** Edit Links Button SVG */
.btn-img {
    margin: 0 0.25rem 0.1rem -0.25rem;
}

/* OffCanvas Visiblity */
#core-canvas .offcanvas.show {
    z-index: 1060;
}

/** News Ticker Element */
#news-ticker {
    background-color: var(--sp-neutral-light); /** Background color */
    color: var(--sp-neutral-dark); /** Text Color */
    overflow: hidden; /** Hides the scroll bar */

    /** News Items */
    .news-items {
        display: flex;

        /** News Ticker Item */
        .news-item {
            box-sizing: border-box;
            flex-shrink: 0;
            padding: 10px;
            text-align: center;
            width: 100%;
        }
    }
}

/** Animation */
@keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(var(--news-delay), 0, 0); }
}
#news-ticker {
    .news-items {
        animation: tickerh linear 15s infinite;
    }
    .news-items:hover {
        animation-play-state: paused;
    }
}